@{
    ViewBag.Title = "Jake";
}
<h2>@ViewBag.Title.</h2>

<p>This page was edited by Jake. :)</p>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>